doctype html
html
    include includes/head.pug
    body.client
        .bgvideo
            video(
            id='video-bg'
            class='stars'
            src='media/backgrounds/stars.mp4'
            autoplay
            loop
            muted
            )
        .reveal
            .slides
                each el in sequence
                    if el.type === 'slide'
                        section
                            section
                            each slideEl in el.slides
                                if slideEl.type === 'video'
                                    section(
                                    data-background-video='/media/videos/' + slideEl.path,
                                    data-background-video-muted=(!!slideEl.options[0].mute),
                                    data-background-video-loop=(!!slideEl.options[0].loop),
                                    data-autoplay=(!!slideEl.options[0].autoplay)
                                    )
                                else if slideEl.type === 'image'
                                    section(data-background-image='/media/images/' + slideEl.path)
                                else
                                    section= slideEl.type
                    else if el.type === 'song'
                        section
                            include includes/song/client.pug



        include includes/foot.pug
        script.
            let uid = Math.random().toString(36).substring(2);
            console.log(uid);
            Reveal.initialize({
                controls: false,
                progress: false,
                keyboard: true,
                touch: false,
                // Transition style
                transition: 'none', // none/fade/slide/convex/concave/zoom

                // Transition speed
                transitionSpeed: 'slow', // default/fast/slow

                // Transition style for full page slide backgrounds
                backgroundTransition: 'none', // none/fade/slide/convex/concave/zoom

                center: true,
                width: '100%',
                height: '100%',
                history: true,
                overview: false,
                multiplex: {
                    secret: null,
                    id: '586c28d7520b3e74',
                    url: '#{socketIO}',
                    uid: uid
                },
                dependencies: [
                    {src: '/static/assets/javascripts/socket.io.js', async: true},
                    {src: '/static/assets/javascripts/socket-io/client.js', async: true}
                ]
            })

            Reveal.addEventListener('slidechanged', function (event) {
                const state = Reveal.getIndices()
                const el = document.getElementById('video-bg')
                if (state.h === 2 && state.v === 0) {
                    if (!el.classList.contains('overlay-blackout')) {
                        el.classList.add('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (el.classList.contains('overlay')) {
                        el.classList.remove('overlay')
                    }
                    el.src = 'media/backgrounds/bg_7.mp4'
                } else if (state.h === 3 && state.v === 0) {
                    if (el.classList.contains('overlay-blackout')) {
                        el.classList.remove('overlay-blackout')
                    }
                    if (el.classList.contains('overlay')) {
                        el.classList.remove('overlay')
                    }
                    if (!el.classList.contains('overlay-none')) {
                        el.classList.add('overlay-none')
                    }
                    el.src = 'media/backgrounds/bg_3.mp4'
                } else if (state.h === 5 && state.v === 0) {
                    if (el.classList.contains('overlay-blackout')) {
                        el.classList.remove('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (!el.classList.contains('overlay')) {
                        el.classList.add('overlay')
                    }
                    el.src = 'media/backgrounds/bg_5.mp4'
                } else if (state.h >= 6 && state.h < 10) {
                    if (!el.classList.contains('overlay-blackout')) {
                        el.classList.add('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (el.classList.contains('overlay')) {
                        el.classList.remove('overlay')
                    }
                } else if (state.h === 10 && state.v === 0) {
                    if (el.classList.contains('overlay-blackout')) {
                        el.classList.remove('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (!el.classList.contains('overlay')) {
                        el.classList.add('overlay')
                    }
                    el.src = 'media/backgrounds/bg_6.mp4'
                } else if (state.h === 11 && state.v === 0) {
                    if (el.classList.contains('overlay-blackout')) {
                        el.classList.remove('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (!el.classList.contains('overlay')) {
                        el.classList.add('overlay')
                    }
                    el.src = 'media/backgrounds/bg_3.mp4'
                } else if (state.h === 12 && state.v === 0) {
                    if (el.classList.contains('overlay-blackout')) {
                        el.classList.remove('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (!el.classList.contains('overlay')) {
                        el.classList.add('overlay')
                    }
                    el.src = 'media/backgrounds/bg_3.mp4'
                } else if (state.h >= 13) {
                    if (!el.classList.contains('overlay-blackout')) {
                        el.classList.add('overlay-blackout')
                    }
                    if (el.classList.contains('overlay-none')) {
                        el.classList.remove('overlay-none')
                    }
                    if (el.classList.contains('overlay')) {
                        el.classList.remove('overlay')
                    }
                }
            })
