section
- var sl = el.song.prompterSequence.length
each verse, i in el.song.prompterSequence
    section(data-state='song-top' data-i=i
        data-transition-speed="slow"
        data-transition="none")
        each part, index in verse
            if index === 'text'
                each text, j in part
                    span.song-block.js-song-block.song-block-animation
                        if text
                            if(el.notes !== '')
                                span.js-song-element.song-element(class="song-element--" + el.notes)=text
                            else
                                span.song-element.js-song-element=text
                        else
                            span
        - var n = i + 1
        if n < sl
            - var next = el.song.prompterSequence[n]
            each val, ind in next
                - var se = 1
                if ind === 'text'
                    each t, k in val
                        if t === ''
                            - var se = 0
                        else
                            - var se = 1
                        if(k > 0)
                            - var classT = 'text-next text-next-hidden'
                        else
                            - var classT = 'text-next'
                        span(class=classT)
                            =t
                        br
                else if ind === 'id'
                    span.verse-id
                        =""

section.full-screen